html,body{
  font-family: "Hack-Regular", monospace;
  background-color: #555;
  margin: 0;padding: 0;
  overflow: hidden;
  /* cursor : none; */
  cursor : pointer;
}
#info{
  /* position: absolute; */
  z-index: 100;
  width: 100%;
  color : #000;
}
input{
  background-color: #666;
  border: none;
  color : #666;
}
.dg {
  height: 100%;
  min-width : 512px;
  margin-bottom : 2em;
}
.dg .cr.number, .dg .cr.boolean, .dg .cr.string{
  background-color: #555;
  border : none;
  color: #000;
  text-shadow: none;
  font-family: monospace;
}
.dg .cr.boolean:hover{
  background-color: #888;
}
.dg .cr.number input[type=text]{
  color : #999;
}
.dg .c .slider-fg{
  background-color: #666;
}
.close-button{
  color : #666;
  display: none;
}
.dg .c .slider:hover .slider-fg {
  background-color: #aaa;
}
